!!!
%html
  %head
    %title TV Schedule
  %body
    %table
      - @airings.each do |airing|
        %tr
          %td
          %td
          %td
          %td
            = airing['Title']
          %td
            = airing['EpisodeTitle']
