<div class="container">
    <div class="table-holder">
        <a class="btn btn-default pull-right" href="/populate_data">Refresh Data</a>
        <form class="form-inline" method='post' action='/shows' role="form">
            <div class="form-group">
            <input type='text' name='title' placeholder='Show Name' class="form-control">
            </div>
            <input type='submit' value='add' class="form-control">
        </form>
        <br>        
        <table class="table table-striped shows-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Show</th>
                <th>Last Fetch</th>
                <th></th>
            </tr>
            </thead>
            <% @shows.each do |shows| %>
            <tr>
                <td><%= shows['id'] %></td>   
                <td><%= shows['title'] %></td>
                <td><% if shows['last_fetch'] %><%= shows['last_fetch'].local.strftime('%m/%d') + " " + shows['last_fetch'].local.strftime('%l:%M %p')%><% end %></td>
                <td width="100px"><a class="delete-btn" href="#delete"  data-id="<%= shows['id'] %>">Delete</a></td>
            </tr>
            <% end %>
        </table>


    </div>  
</div>